<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fernsehkind.testyourtouchscreen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/activity_test_your_touchscreen_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fernsehkind.testyourtouchscreen.TestYourTouchscreenActivity"
            android:label="@string/activity_test_your_touchscreen_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fernsehkind.testyourtouchscreen.MultiTouchDrawTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/activity_multi_touch_draw_test_title"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.fernsehkind.testyourtouchscreen.SettingsActivity"
            android:label="@string/activity_settings_title" >
        </activity>
    </application>

</manifest>
